.contact-page {
  height: 100vh;
}

.contact-form {
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  width: 800px;
}


@media screen and (max-width: 600px){
  .contact-form {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 400px;
  }
  
  
  



}

