.footer-text {
  text-align: center;
  margin-top: 35px;
  text-shadow: .3rem .3rem .1rem rgba(175,0,100,.5);  
}

.footer-bottom {
  display: flex;
  flex-direction: row;  
  justify-content: center;
  align-content: center;
  margin-top: auto;
  background-color: orange;  
  border-top: 2px solid red;
  position: sticky;
  width: 100%;
  height: 100px;
  bottom: 0;
  left: 0;
  right: 0
}

.footer-icons {  
  margin-top: 20px;
  margin-left: 20px;
  text-align: center;
  color: white;
  filter: drop-shadow(.3rem .3rem .1rem rgba(175,0,100,.5));
}



.footer-button {
  background-color: purple;
  color: white;
  margin-left: 20px;
}
  

@media screen and (max-width: 600px){
  .footer-text {
    font-size: 1rem;
  }


  .footer-icons {  
    margin-top: 20px;
    margin-left: 10px;
    size: .5rem;
    text-align: center;
    color: white;
    filter: drop-shadow(.3rem .3rem .1rem rgba(175,0,100,.5));    
  }

  .footer-icons:hover {
    color: orange !important;    
  }
  }