.nav-header {  
  display: flex;
  flex-direction: row;  
  height: 8rem;  
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  background: linear-gradient(230deg, #6b0504, #a3320b, #e6af2e);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

