/* .card-image {
  
} */

/* .card-columns {
  display: flex;
} */
.card-body {
  margin-bottom: 30px;
  width: 50%;
  color: white;
  margin-left: auto;
  margin-right: auto;

}

.card-title {
  color: white;
}

.drop-shadow {  
  text-shadow: 2px 2px black
}

