/* .card-image {
  
} */

/* .card-columns {
  display: flex;
} */
.card-body {
  margin-bottom: 30px;
  width: 50%;
  color: white;
  margin-left: auto;
  margin-right: auto;

}

/* .card-body:hover {
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
} */

.card-title {
  color: white;
}

.drop-shadow {  
  text-shadow: 2px 2px black
}

