.card-image {
  filter: blur(2px);
  filter: sepia(80%);
  filter: opacity(20%);
}





/* .card-columns {
  display: flex;
} */
.card-body {
  margin-bottom: 30px;
  width: 50%;
  color: white;
  margin-left: auto;
  margin-right: auto;
}



.card-text {
  font-size: 1.4rem;
  color: orange;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  /* margin-top: 10px; */
  text-align: left;
  font-weight: bold;
  font-family: 'Josefin Sans', sans-serif;
}


/* .card-body:hover {
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
} */

.card-title { 
  font-size: 30px !important;
  color: orangered;  
  
  
}
.drop-shadow {  
  text-shadow: .15rem .15rem .1rem rgba(0,0,0,.8);
}

