body {
  backdrop-filter: grayscale(100%) opacity(100%) brightness(100%) blur(50px);  
}

.everything {
  /* display: flex;
  flex-direction: column; */
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 30px;
  margin-right: 30px;
  padding: 10px;  
  border-radius: 30px 30px 30px 30px;
  background: linear-gradient(120deg, #6b0504, #a3320b, #e6af2e);
}


/* .divider {
   display:block;
  position: absolute;
    top:60px;
  left:50%;
  border-bottom:1px solid white;
  width:0%;
  text-align:center;
  animation: line .75s linear forwards;
} */

h1 {  
  color: white;  
  font-family: Arial, Calibri, sans-serif; 
}

.email-link {
  color: orange
}

h2 {
  color: white;
  font-family: Arial, Calibri, sans-serif;
 
  padding-left: 20px;  
}

h3 {
  color: white;
  font-family: Arial, Calibri, sans-serif;
  
   padding-left: 20px;
}

h4 {
  color: white;
  font-family: Arial, Calibri, sans-serif;
}

h5 {
  color: white;
  font-family: Arial, Calibri, sans-serif;
  
}


p {
  margin-left: 20px;
}
p, li { 
  color: white;
  font-family: Arial, Calibri, sans-serif;
  line-height: 18px   
}


.name {
  display: flex;
   color: white;
   justify-content: center;

  text-align: center;  
  margin-bottom: 20px;
}

.download-button{
  margin-left: 30px;
  height: 43px;
  border-radius: 6px;
  border-color: red;
}

.work-role {
  margin-left: 20px
}

.banner-image{
    position:absolute;
    left:0px;
    top:0px;
    z-index:-1;
}

.address-info{
  text-align: center;
  display:flex;
  width: 100%;
  justify-content: space-around;    
  }

  .techskills {
    text-align: left;
    margin-left: 20px;
    line-height: 100% !important
  }

.summary-text{  
  /* margin-left: 20px; */
  padding-right: 10px;  
}

.education-info{
 line-height: 90%; 
 margin-left: 10px;
}

.summary-text{
  padding-left: 20px;  
  margin-bottom: 0rem !important;
}



@media screen and (max-width: 600px){
  .address-info{
    flex-direction: column;
  }

}
 
